
/***
Makes the following changes to the lorekeeper layout:

- makes then top navbar + header smaller and squishes them
- gives more space for the background color

Use STRG+SHIFT+R to hard refresh and reload the css or you may be unable to see the changes.

*/

.sidebar-section {
    padding: 1.4em 0 !important;
}

.site-header-image {
    background-size: contain;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 20px !important;
}

.site-header-image, #headerNav {
    margin: auto;
    width: 100%;
    max-width: 66.6666666667%;
}

.main-content,
.sidebar {
    margin-bottom: 100px;
}

.main-content {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}